In [ ]:
import pandas as pd

#1.Pandas Series from the list
data = [25, 30, 35, 40, 45]
series = pd.Series(data)

#2a.Assign custom indices ['A', 'B', 'C', 'D', 'E']
series.index = ['A', 'B', 'C', 'D', 'E']

#2b.first three elements of the Series
first_3 = series.head(3)

#2c.mean, median, and standard deviation
mean_ = series.mean()
median_ = series.median()
std_dev = series.std()

#results
print("Series with custom indices:")
print(series)
print("\nFirst three elements:")
print(first_3)
print("\nStatistics:")
print(f"Mean: {mean_}")
print(f"Median: {median_}")
print(f"Standard Deviation: {std_dev}")

In [ ]:

# 1.Creating DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [20, 22, 19, 21, 20],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Marks': [85, 78, 92, 74, 88]
}

df = pd.DataFrame(data)
#2a.first two rows
print("First two rows:")
print(df.head(2))
#2b.column names, data types, and summary statistics
print("\nColumn names:")
print(df.columns)
print("\nData types:")
print(df.dtypes)
print("\nSummary statistics:")
print(df.describe())
#2c.new column 'Passed' (True if Marks >= 80, else False)
df['Passed'] = df['Marks'] >= 80
print("\nDataFrame with 'Passed' column:")
print(df)

In [ ]:
#'df' from Task 2 is already created
# Columns: Name, Age, Gender, Marks, Passed

#1a.Select and display the Name and Marks columns
print("Name and Marks columns:")
print(df[['Name', 'Marks']])

#1b.Filter and display records where Marks > 80
print("\nStudents with Marks > 80:")
print(df[df['Marks'] > 80])

#1c.Display the record of the student with the highest marks
max_marks = df['Marks'].max()
top_std = df[df['Marks'] == max_marks]

print("\nStudent with the highest marks:")
print(top_std)

In [ ]:
import numpy as np
#recreate DataFrame from Task 2
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [20, 22, 19, 21, 20],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Marks': [85, 78, 92, 74, 88]
}
df = pd.DataFrame(data)
#Add 'Passed' column (from Task 2)
df['Passed'] = df['Marks'] >= 80

#atep 1: Introduce missing values
df.loc[1, 'Marks'] = None   # Bob's Marks
df.loc[4, 'Age'] = None     # Eve's Age
print("DataFrame with missing values:")
print(df)

#step 2a: Identify missing values
print("\nMissing values in DataFrame:")
print(df.isnull())

#step 2b: Fill missing Marks with the column mean (ignores NaN)
meanM= df['Marks'].mean()
df['Marks'].fillna(meanM, inplace=True)
print("\nDataFrame after filling missing Marks with mean:")
print(df)
#step 2c: Drop rows where Age is missing
df_clean = df.dropna(subset=['Age'])
print("\nDataFrame after dropping rows with missing Age:")
print(df_clean)

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [20, 22, 19, 21, 20],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Marks': [85, 78, 92, 74, 88]
}
df = pd.DataFrame(data)

#group by 'Gender' and calculate mean of 'Age' and 'Marks'
grouped = df.groupby('Gender')[['Age', 'Marks']].mean()
print("Mean Age and Marks by Gender:")
print(grouped)

In [ ]:
#modified dataframe from task4 (after filling NaNs and dropping rows)
data = {
    'Name': ['Alice', 'Carol', 'David'],
    'Age': [20.0, 19.0, 21.0],
    'Gender': ['Female', 'Female', 'Male'],
    'Marks': [85.0, 92.0, 74.0],
    'Passed': [True, True, False]
}

df = pd.DataFrame(data)

# 1a. Save the DataFrame to a CSV file
df.to_csv('students_data.csv', index=False)

# 1b. Read the CSV file into a new DataFrame
new_df = pd.read_csv('students_data.csv')

# 1c. Display the first five rows of the newly loaded DataFrame
print("First five rows of the new DataFrame:")
print(new_df)